az-end-end/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "az-end-end"
		},
		"azure_destiny_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'azure_destiny'"
		},
		"azure_sql_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'azure_sql'"
		},
		"azure_destiny_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adfazureproject10.dfs.core.windows.net/"
		},
		"azure_sql_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "azureprojectserver10.database.windows.net"
		},
		"azure_sql_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "azureprojectdb"
		},
		"azure_sql_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminAthar"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/incremental_loop')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.loop_input",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "AZURE_TO_ADLS",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LAST_CDC",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "current",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM @{item().SCHEMA}.@{item().TABLE} WHERE @{item().CDC_COL} > \n'@{if(empty(item().fromDate),\n    activity('LAST_CDC').output.value[0].cdc, \n    item().fromDate)\n}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "AZURE_SQL",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Parquet_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze",
												"folder": {
													"value": "@item().TABLE",
													"type": "Expression"
												},
												"file": {
													"value": "@concat(item().TABLE,'_',variables('current'))",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "LAST_CDC",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"dataset": {
											"referenceName": "Json_DYNAMIC",
											"type": "DatasetReference",
											"parameters": {
												"CONTAINER": "bronze",
												"FOLDER": {
													"value": "@{item().TABLE}_cdc",
													"type": "Expression"
												},
												"FILE": "cdc.json"
											}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "current",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "current",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "AZURE_TO_ADLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(activity('AZURE_TO_ADLS').output.dataRead, 0) ",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Delete_empty_file",
												"type": "Delete",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "Parquet_dynamic",
														"type": "DatasetReference",
														"parameters": {
															"container": "bronze",
															"folder": {
																"value": "@item().TABLE",
																"type": "Expression"
															},
															"file": {
																"value": "@concat(item().TABLE,'_',variables('current'))",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "update_last_cdc",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "max_cdc",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "JsonSource",
														"additionalColumns": [
															{
																"name": "cdc",
																"value": {
																	"value": "@activity('max_cdc').output.resultSets[0].rows[0].cdc",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "JsonReadSettings"
														}
													},
													"sink": {
														"type": "JsonSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "JsonWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "Json_DYNAMIC",
														"type": "DatasetReference",
														"parameters": {
															"CONTAINER": "bronze",
															"FOLDER": {
																"value": "@{item().TABLE}_cdc",
																"type": "Expression"
															},
															"FILE": "empty.json"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "Json_DYNAMIC",
														"type": "DatasetReference",
														"parameters": {
															"CONTAINER": "bronze",
															"FOLDER": {
																"value": "@{item().TABLE}_cdc",
																"type": "Expression"
															},
															"FILE": "cdc.json"
														}
													}
												]
											},
											{
												"name": "max_cdc",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "azure_sql",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "select max(@{item().CDC_COL}) as cdc from @{item().SCHEMA}.@{item().TABLE}",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "alerts",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-02.eastus.logic.azure.com:443/workflows/5b61e569fd594c94b442f4dcd2f3199b/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=ueeUe6IPvRnS7xUjkk7ghN15IQ7sspiMDHufwKBQPEY",
							"body": {
								"value": "{\n    \"pipelineName\" : \"@{pipeline().Pipeline}\",\n    \"pipelineRunID\" : \"@{pipeline().RunId}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"loop_input": {
						"type": "array",
						"defaultValue": [
							{
								"SCHEMA": "dbo",
								"TABLE": "DimUser",
								"CDC_COL": "updated_at",
								"fromdate": ""
							},
							{
								"SCHEMA": "dbo",
								"TABLE": "DimTrack",
								"CDC_COL": "updated_at",
								"fromdate": ""
							},
							{
								"SCHEMA": "dbo",
								"TABLE": "DimArtist",
								"CDC_COL": "updated_at",
								"fromdate": ""
							},
							{
								"SCHEMA": "dbo",
								"TABLE": "DimDate",
								"CDC_COL": "date",
								"fromdate": ""
							},
							{
								"SCHEMA": "dbo",
								"TABLE": "FactStream",
								"CDC_COL": "stream_timestamp",
								"fromdate": ""
							}
						]
					}
				},
				"variables": {
					"current": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AZURE_SQL')]",
				"[concat(variables('factoryId'), '/datasets/Parquet_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/Json_DYNAMIC')]",
				"[concat(variables('factoryId'), '/linkedServices/azure_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZURE_SQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_sql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json_DYNAMIC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_destiny",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"CONTAINER": {
						"type": "string"
					},
					"FOLDER": {
						"type": "string"
					},
					"FILE": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FILE",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().FOLDER",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().CONTAINER",
							"type": "Expression"
						}
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"cdc": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_destiny')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_destiny",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"folder": {
						"type": "string"
					},
					"file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_destiny')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_destiny')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('azure_destiny_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('azure_destiny_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_sql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('azure_sql_properties_typeProperties_server')]",
					"database": "[parameters('azure_sql_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('azure_sql_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('azure_sql_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}